# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.kaggle.com/datasets/prosperchuks/health-dataset?resource=download&select=hypertension_data.csv

Import the necessary libraries and create your dataframe(s).

In [73]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Create a new dataframe for csv
diabetes_df = pd.read_csv(r"diabetes_data.csv")

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [74]:
# displaying df shape and preview of dataset to remind myself of general characteristics
display(diabetes_df.shape)
display(diabetes_df.head(10))

(70692, 18)

,Age,Sex,HighChol,CholCheck,BMI,Smoker,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,GenHlth,MentHlth,PhysHlth,DiffWalk,Stroke,HighBP,Diabetes
0,4.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,5.0,30.0,0.0,0.0,1.0,0.0
1,12.0,1.0,1.0,1.0,26.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0
2,13.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,10.0,0.0,0.0,0.0,0.0
3,11.0,1.0,1.0,1.0,28.0,1.0,0.0,1.0,1.0,1.0,0.0,3.0,0.0,3.0,0.0,0.0,1.0,0.0
4,8.0,0.0,0.0,1.0,29.0,1.0,0.0,1.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,18.0,0.0,0.0,1.0,1.0,1.0,0.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0
6,13.0,1.0,1.0,1.0,26.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,6.0,1.0,0.0,1.0,31.0,1.0,0.0,0.0,1.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
8,3.0,0.0,0.0,1.0,32.0,0.0,0.0,1.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
9,6.0,1.0,0.0,1.0,27.0,1.0,0.0,0.0,1.0,1.0,0.0,3.0,0.0,6.0,0.0,0.0,0.0,0.0

In [75]:
# using .info to display non-null count
display(diabetes_df.info())

#no null values, so I do not need to perform any cleaning related to missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   70692 non-null  float64
 1   Sex                   70692 non-null  float64
 2   HighChol              70692 non-null  float64
 3   CholCheck             70692 non-null  float64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  float64
 6   HeartDiseaseorAttack  70692 non-null  float64
 7   PhysActivity          70692 non-null  float64
 8   Fruits                70692 non-null  float64
 9   Veggies               70692 non-null  float64
 10  HvyAlcoholConsump     70692 non-null  float64
 11  GenHlth               70692 non-null  float64
 12  MentHlth              70692 non-null  float64
 13  PhysHlth              70692 non-null  float64
 14  DiffWalk              70692 non-null  float64
 15  Stroke                70692 non-null  float64
 16  HighBP                70692 non-null  float64
 17  Diabetes              70692 non-null  float64
dtypes: float64(18)
memory usage: 9.7 MB

None

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [76]:
BMIcolumn = diabetes_df['BMI']
print(BMIcolumn.describe())

count    70692.000000
mean        29.856985
std          7.113954
min         12.000000
25%         25.000000
50%         29.000000
75%         33.000000
max         98.000000
Name: BMI, dtype: float64

In [77]:
#defining variables for Q1, Q3, and IQR
Q1 = 25.000000
Q3 = 33.000000
IQR = Q3 - Q1

#calculating lower and upper fence
lower_fence = Q1 - 1.5 * IQR
display(lower_fence)
upper_fence = Q3 + 1.5 * IQR
display(upper_fence)

#creating a variable for all outliers (values below lower fence and above upper fence) present in dataset
outliers = diabetes_df[(diabetes_df['BMI'] < lower_fence) | (diabetes_df['BMI'] > upper_fence)].index
display(outliers)

# dropping outliers from diabetes_df and resetting index
diabetes_df = diabetes_df.drop(outliers)
diabetes_df = diabetes_df.reset_index(drop=True)
display(diabetes_df.info())

13.0

45.0

Index([   13,    42,    99,   177,   192,   199,   284,   446,   459,   524,
       ...
       70338, 70450, 70490, 70500, 70539, 70606, 70620, 70637, 70645, 70648],
      dtype='int64', length=2181)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68511 entries, 0 to 68510
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   68511 non-null  float64
 1   Sex                   68511 non-null  float64
 2   HighChol              68511 non-null  float64
 3   CholCheck             68511 non-null  float64
 4   BMI                   68511 non-null  float64
 5   Smoker                68511 non-null  float64
 6   HeartDiseaseorAttack  68511 non-null  float64
 7   PhysActivity          68511 non-null  float64
 8   Fruits                68511 non-null  float64
 9   Veggies               68511 non-null  float64
 10  HvyAlcoholConsump     68511 non-null  float64
 11  GenHlth               68511 non-null  float64
 12  MentHlth              68511 non-null  float64
 13  PhysHlth              68511 non-null  float64
 14  DiffWalk              68511 non-null  float64
 15  Stroke                68511 non-null  float64
 16  HighBP                68511 non-null  float64
 17  Diabetes              68511 non-null  float64
dtypes: float64(18)
memory usage: 9.4 MB

None

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [79]:
# The following columns are relevant to my analysis:
# - HighChol, BMI, Smoker, HeartDiseaseorAttack, Fruits, Veggies, HvyAlcoholConsump, Stroke, HighBP, Diabetes
# The following columns are not relevant to my analysis, so I will drop them:
# - Age, Sex, CholCheck, PhysActivity, GenHlth, MentHlth, PhysHlth, DiffWalk

diabetes_df = diabetes_df.drop(columns=['Age', 'Sex', 'CholCheck', 'PhysActivity', 'GenHlth', 'MentHlth', 'PhysHlth', 'DiffWalk'])
display(diabetes_df.head(10))

,HighChol,BMI,Smoker,HeartDiseaseorAttack,Fruits,Veggies,HvyAlcoholConsump,Stroke,HighBP,Diabetes
0,0.0,26.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1.0,26.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,0.0,26.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,1.0,28.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
4,0.0,29.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
5,0.0,18.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
6,1.0,26.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
7,0.0,31.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
8,0.0,32.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
9,0.0,27.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [80]:
# using nunqiue() to see how many unqiue values each df's columns hold.
display(diabetes_df.nunique())
# all columns hold 2 unique values (as expected), besides BMI which is expected as well

HighChol                 2
BMI                     33
Smoker                   2
HeartDiseaseorAttack     2
Fruits                   2
Veggies                  2
HvyAlcoholConsump        2
Stroke                   2
HighBP                   2
Diabetes                 2
dtype: int64

In [107]:
#I am having trouble with getting my visulations to work with float values, so I am going to change all columns to state if the condition is present or not. 
# diabetes_df['HighChol'].unique()
# diabetes_df['HighChol'] = diabetes_df['HighChol'].replace({0.: 'No', 1.: 'Yes'})
# diabetes_df['Smoker'].unique()
# diabetes_df['Smoker'] = diabetes_df['Smoker'].replace({0.: 'No', 1.: 'Yes'})
# diabetes_df['HeartDiseaseorAttack'].unique()
# diabetes_df['HeartDiseaseorAttack'] = diabetes_df['HeartDiseaseorAttack'].replace({0.: 'No', 1.: 'Yes'})
# diabetes_df['Fruits'].unique()
# diabetes_df['Fruits'] = diabetes_df['Fruits'].replace({0.: 'No', 1.: 'Yes'})
# diabetes_df['Veggies'].unique()
# diabetes_df['Veggies'] = diabetes_df['Veggies'].replace({0.: 'No', 1.: 'Yes'})
# diabetes_df['HvyAlcoholConsump'].unique()
# diabetes_df['HvyAlcoholConsump'] = diabetes_df['HvyAlcoholConsump'].replace({0.: 'No', 1.: 'Yes'})
# diabetes_df['Stroke'].unique()
# diabetes_df['Stroke'] = diabetes_df['Stroke'].replace({0.: 'No', 1.: 'Yes'})
# diabetes_df['HighBP'].unique()
# diabetes_df['HighBP'] = diabetes_df['HighBP'].replace({0.: 'No', 1.: 'Yes'})
# diabetes_df['Diabetes'].unique()
# diabetes_df['Diabetes'] = diabetes_df['Diabetes'].replace({0.: 'No', 1.: 'Yes'})
diabetes_df.head(10)

,HighChol,BMI,Smoker,HeartDiseaseorAttack,Fruits,Veggies,HvyAlcoholConsump,Stroke,HighBP,Diabetes
0,No,26.0,No,No,No,Yes,No,No,Yes,No
1,Yes,26.0,Yes,No,Yes,No,No,Yes,Yes,No
2,No,26.0,No,No,Yes,Yes,No,No,No,No
3,Yes,28.0,Yes,No,Yes,Yes,No,No,Yes,No
4,No,29.0,Yes,No,Yes,Yes,No,No,No,No
5,No,18.0,No,No,Yes,Yes,No,No,No,No
6,Yes,26.0,Yes,No,Yes,Yes,Yes,No,No,No
7,No,31.0,Yes,No,Yes,Yes,No,No,No,No
8,No,32.0,No,No,Yes,Yes,No,No,No,No
9,No,27.0,Yes,No,Yes,Yes,No,No,No,No

In [108]:
display(diabetes_df.info())
# exporting cleaned data to CSV
diabetes_df.to_csv('cleaned_diabetes_df.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68511 entries, 0 to 68510
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   HighChol              68511 non-null  object
 1   BMI                   68511 non-null  float64
 2   Smoker                68511 non-null  object
 3   HeartDiseaseorAttack  68511 non-null  object
 4   Fruits                68511 non-null  object
 5   Veggies               68511 non-null  object
 6   HvyAlcoholConsump     68511 non-null  object
 7   Stroke                68511 non-null  object
 8   HighBP                68511 non-null  object
 9   Diabetes              68511 non-null  object
dtypes: float64(1), object(9)
memory usage: 5.2+ MB

None